extends layout

block content
  div
    table.report-table
      tbody
        tr.section-header-row
          td.section-header-cell.version(colSpan='2')
            span
              img(src='/images/headerBullet.png', alt="bullet", style="height:12px; width:16px")
            | &nbsp;Общая информация о тестировании доработки
        tr.dense-information
          td.dense-header Название проекта
          td.dense-data= result.input.projectName
        tr.dense-information
          td.dense-header Дата завершения теста
          td.dense-data= result.input.testDate
        tr.dense-information
          td.dense-header Ссылка на портал
          td.dense-data
            a(href=result.input.portalLink)= result.input.portalLink
        tr.dense-information
          td.dense-header Ревизия
          td.dense-data= result.input.revision
        tr.dense-information
          td.dense-header Браузер
          td.dense-data= result.input.browser
    table.report-table
      tbody
        tr.section-header-row
          td.section-header-cell.version(colSpan='2')
            span
              img(src='/images/headerBullet.png', alt="bullet", style="height:12px; width:16px")
            span
              img(src='/images/headerBullet.png', alt="bullet", style="height:12px; width:16px")
            | &nbsp;Тестовое покрытие
        tr.dense-information
          td.dense-header Тестовое покрытие
          td.dense-data
            p: b Тестирование версии включало в себя следующие активности:
            for row in result.input.testCoverage
              | #{row}
              br
    table.report-table
      tbody
        tr.section-header-row
          td.section-header-cell.version(colSpan='2')
            span
              img(src='/images/headerBullet.png', alt="bullet", style="height:12px; width:16px")
            span
              img(src='/images/headerBullet.png', alt="bullet", style="height:12px; width:16px")
            span
              img(src='/images/headerBullet.png', alt="bullet", style="height:12px; width:16px")
            | &nbsp;Оценка качества версии
        tr.dense-information
          td.dense-header
            div
              case result.qualityAsessment.versionQuality
                when 1
                when 2
                  img(src='/images/houseLowQuality.jpg', alt='Low quality', style='width:108px; height: 75px;')
                when 3
                  img(src='/images/houseMediumQuality.jpg', alt='Medium quality', style='width:108px; height: 75px;')
                when 4
                when 5
                  img(src='/images/houseHighQuality.jpg', alt='High quality', style='width:108px; height: 75px;')
            a(href='https://wiki.lanit.ru/pages/viewpage.action?pageId=75140512') Критерии определения качества
          td
            div
              p: b Качество версии/ХФ по наведенным дефектам:&nbsp;&nbsp;
                a(href=result.qualityAsessment.versionDefectsUrl)
                  case result.qualityAsessment.versionQuality
                    when 1
                      span.quality-low НИЗКОЕ
                    when 2
                      span.quality-low НИЖЕ СРЕДНЕГО
                    when 3
                      span.quality-medium СРЕДНЕЕ
                    when 4
                      span.quality-high ВЫШЕ СРЕДНЕГО
                    when 5
                      span.quality-high ВЫСОКОЕ
              p: b Качество ПО в целом:&nbsp;&nbsp;
                a(href=result.qualityAsessment.systemDefectsUrl)
                  case result.qualityAsessment.systemQuality
                    when 1
                      span.quality-low НИЗКОЕ
                    when 2
                      span.quality-low НИЖЕ СРЕДНЕГО
                    when 3
                      span.quality-medium СРЕДНЕЕ
                    when 4
                      span.quality-high ВЫШЕ СРЕДНЕГО
                    when 5
                      span.quality-high ВЫСОКОЕ
            div
              p: b Актуальные и исправленные в версии дефекты
              table.table-data
                thead
                  tr
                    th(rowspan=2)
                    th.table-highlighted(colspan=2) Актуальных дефектов в системе
                    th.table-highlighted(colspan=2) Актуальных дефектов в системе для версии #{result.input.version}
                    th.table-highlighted(rowspan=2) Исправлено ненаведенных дефектов в версии #{result.input.version}
                  tr
                    th.table-highlighted Всего
                    th.table-highlighted в т.ч. наведенных
                    th.table-highlighted Всего
                    th.table-highlighted в т.ч. наведенных
                tbody
                  tr
                    td.table-highlighted Всего
                    td.centered-text
                      a(href=result.actualAndFixedDefects['ААА'].url)= result.actualAndFixedDefects['ААА'].count
                    td.centered-text
                      a(href=result.actualAndFixedDefects['БББ'].url)= result.actualAndFixedDefects['БББ'].count
                    td.centered-text
                      a(href=result.actualAndFixedDefects['ВВВ'].url)= result.actualAndFixedDefects['ВВВ'].count
                    td.centered-text
                      a(href=result.actualAndFixedDefects['ГГГ'].url)= result.actualAndFixedDefects['ГГГ'].count
                    td.centered-text
                      a(href=result.actualAndFixedDefects['ДДД'].url)= result.actualAndFixedDefects['ДДД'].count
                  tr
                    td.table-highlighted в т.ч. Blocker
                    td.centered-text
                      a(href=result.actualAndFixedDefects['ААА-1'].url)= result.actualAndFixedDefects['ААА-1'].count
                    td.centered-text
                      a(href=result.actualAndFixedDefects['БББ-1'].url)= result.actualAndFixedDefects['БББ-1'].count
                    td.centered-text
                      a(href=result.actualAndFixedDefects['ВВВ-1'].url)= result.actualAndFixedDefects['ВВВ-1'].count
                    td.centered-text
                      a(href=result.actualAndFixedDefects['ГГГ-1'].url)= result.actualAndFixedDefects['ГГГ-1'].count
                    td.centered-text
                      a(href=result.actualAndFixedDefects['ДДД-1'].url)= result.actualAndFixedDefects['ДДД-1'].count
                  tr
                    td.table-highlighted в т.ч. Critical
                    td.centered-text
                      a(href=result.actualAndFixedDefects['ААА-2'].url)= result.actualAndFixedDefects['ААА-2'].count
                    td.centered-text
                      a(href=result.actualAndFixedDefects['БББ-2'].url)= result.actualAndFixedDefects['БББ-2'].count
                    td.centered-text
                      a(href=result.actualAndFixedDefects['ВВВ-2'].url)= result.actualAndFixedDefects['ВВВ-2'].count
                    td.centered-text
                      a(href=result.actualAndFixedDefects['ГГГ-2'].url)= result.actualAndFixedDefects['ГГГ-2'].count
                    td.centered-text
                      a(href=result.actualAndFixedDefects['ДДД-2'].url)= result.actualAndFixedDefects['ДДД-2'].count
                  tr
                    td.table-highlighted в т.ч Major
                    td.centered-text
                      a(href=result.actualAndFixedDefects['ААА-3'].url)= result.actualAndFixedDefects['ААА-3'].count
                    td.centered-text
                      a(href=result.actualAndFixedDefects['БББ-3'].url)= result.actualAndFixedDefects['БББ-3'].count
                    td.centered-text
                      a(href=result.actualAndFixedDefects['ВВВ-3'].url)= result.actualAndFixedDefects['ВВВ-3'].count
                    td.centered-text
                      a(href=result.actualAndFixedDefects['ГГГ-3'].url)= result.actualAndFixedDefects['ГГГ-3'].count
                    td.centered-text
                      a(href=result.actualAndFixedDefects['ДДД-3'].url)= result.actualAndFixedDefects['ДДД-3'].count
            br
            div
              case result.needToFix.issues.length
                when 0
                  p: b Актуальных (требующих исправления) наведенных дефектов для версии нет
                default
                  p: b
                    a(href=result.needToFix.url) Актуальные (требующие исправления) дефекты для версии #{result.input.version}
                  table.table-data
                    thead
                      tr
                        th.table-highlighted Код
                        th.table-highlighted Тема
                        th.table-highlighted Приоритет
                        th.table-highlighted Проявляется в версиях
                        th.table-highlighted Статус
                        th.table-highlighted Наведенность
                    tbody
                      each issue in result.needToFix.issues
                        tr
                          td.centered-text
                            a(href=issue.url)= issue.key
                          td= issue.subject
                          td
                            img(src=issue.priority.iconUrl)
                            | &nbsp;#{issue.priority.name}
                          td
                            each version in issue.affectedVersions
                              = version.name
                          td
                            img(src=issue.status.iconUrl)
                            | &nbsp;#{issue.status.name}
                          td= issue.inductivity