extends layout

block content
  div
    table.report-table
      tbody
        tr.section-header-row
          td.section-header-cell.version(colSpan='2')
            span
              img(src='/images/headerBullet.png', alt="bullet", style="height:12px; width:16px")
            | &nbsp;Общая информация о тестировании доработки
        tr.dense-information
          td.dense-header Название проекта
          td.dense-data= result.input.projectName
        tr.dense-information
          td.dense-header Дата завершения теста
          td.dense-data= result.input.testDate
        tr.dense-information
          td.dense-header Ссылка на портал
          td.dense-data
            a(href=result.input.portalLink)= result.input.portalLink
        tr.dense-information
          td.dense-header Ревизия
          td.dense-data= result.input.revision
        tr.dense-information
          td.dense-header Браузер
          td.dense-data= result.input.browser
    table.report-table
      tbody
        tr.section-header-row
          td.section-header-cell.version(colSpan='2')
            span
              img(src='/images/headerBullet.png', alt="bullet", style="height:12px; width:16px")
            span
              img(src='/images/headerBullet.png', alt="bullet", style="height:12px; width:16px")
            | &nbsp;Тестовое покрытие
        tr.dense-information
          td.dense-header Тестовое покрытие
          td.dense-data
            p: b Тестирование версии включало в себя следующие активности:
            for row in result.input.testCoverage
              | #{row}
              br
    table.report-table
      tbody
        tr.section-header-row
          td.section-header-cell.version(colSpan='2')
            span
              img(src='/images/headerBullet.png', alt="bullet", style="height:12px; width:16px")
            span
              img(src='/images/headerBullet.png', alt="bullet", style="height:12px; width:16px")
            span
              img(src='/images/headerBullet.png', alt="bullet", style="height:12px; width:16px")
            | &nbsp;Оценка качества версии
        tr.dense-information
          td.dense-header
            div
              case result.summary.newDefectsQuality
                when 1
                when 2
                  img(src='/images/houseLowQuality.jpg', alt='Low quality', style='width:108px; height: 75px;')
                when 3
                  img(src='/images/houseMediumQuality.jpg', alt='Medium quality', style='width:108px; height: 75px;')
                when 4
                when 5
                  img(src='/images/houseHighQuality.jpg', alt='High quality', style='width:108px; height: 75px;')
            a(href='https://wiki.lanit.ru/pages/viewpage.action?pageId=75140512') Критерии определения качества
          td
            div
              p: b Качество версии по наведенным дефектам&nbsp;&nbsp;
                case result.summary.newDefectsQuality
                  when 1
                    span.quality-low НИЗКОЕ
                  when 2
                    span.quality-low НИЖЕ СРЕДНЕГО
                  when 3
                    span.quality-medium СРЕДНЕЕ
                  when 4
                    span.quality-high ВЫШЕ СРЕДНЕГО
                  when 5
                    span.quality-high ВЫСОКОЕ