  extends layout

block content
  div
    table.report-table
      tbody
        tr.section-header-row
          td.section-header-cell.version(colSpan='2')
            span
              img(src='/images/headerBullet.png', alt="bullet", style="height:12px; width:16px")
            | &nbsp;Общая информация о тестировании доработки
        tr.dense-information
          td.dense-header Название проекта
          td.dense-data= result.input.projectName
        tr.dense-information
          td.dense-header Дата завершения теста
          td.dense-data= result.input.testDate
        tr.dense-information
          td.dense-header Ссылка на портал
          td.dense-data
            a(href=result.input.portalLink)= result.input.portalLink
        tr.dense-information
          td.dense-header Ревизия
          td.dense-data= result.input.revision
        tr.dense-information
          td.dense-header Браузер
          td.dense-data= result.input.browser
    table.report-table
      tbody
        tr.section-header-row
          td.section-header-cell.version(colSpan='2')
            span
              img(src='/images/headerBullet.png', alt="bullet", style="height:12px; width:16px")
            span
              img(src='/images/headerBullet.png', alt="bullet", style="height:12px; width:16px")
            | &nbsp;Тестовое покрытие
        tr.dense-information
          td.dense-header Тестовое покрытие
          td.dense-data
            p: b Тестирование версии включало в себя следующие активности:
            for row in result.input.testCoverage
              | #{row}
              br
    table.report-table
      tbody
        tr.section-header-row
          td.section-header-cell.version(colSpan='2')
            span
              img(src='/images/headerBullet.png', alt="bullet", style="height:12px; width:16px")
            span
              img(src='/images/headerBullet.png', alt="bullet", style="height:12px; width:16px")
            span
              img(src='/images/headerBullet.png', alt="bullet", style="height:12px; width:16px")
            | &nbsp;Оценка качества версии
        tr.dense-information
          td.dense-header
            div
              case result.summary.newDefectsQuality
                when 1
                when 2
                  img(src='/images/houseLowQuality.jpg', alt='Low quality', style='width:108px; height: 75px;')
                when 3
                  img(src='/images/houseMediumQuality.jpg', alt='Medium quality', style='width:108px; height: 75px;')
                when 4
                when 5
                  img(src='/images/houseHighQuality.jpg', alt='High quality', style='width:108px; height: 75px;')
            a(href='https://wiki.lanit.ru/pages/viewpage.action?pageId=75140512') Критерии определения качества
          td
            div
              p: b Качество версии по наведенным дефектам, оставшимся к выпуску:&nbsp;&nbsp;
                case result.inducedActualForVersionQuality
                  when 1
                    span.quality-low НИЗКОЕ
                  when 2
                    span.quality-low НИЖЕ СРЕДНЕГО
                  when 3
                    span.quality-medium СРЕДНЕЕ
                  when 4
                    span.quality-high ВЫШЕ СРЕДНЕГО
                  when 5
                    span.quality-high ВЫСОКОЕ
              p: b Качество версии по наведенным дефектам, оставшимся в системе:&nbsp;&nbsp;
                case result.inducedActualForSystemQuality
                  when 1
                    span.quality-low НИЗКОЕ
                  when 2
                    span.quality-low НИЖЕ СРЕДНЕГО
                  when 3
                    span.quality-medium СРЕДНЕЕ
                  when 4
                    span.quality-high ВЫШЕ СРЕДНЕГО
                  when 5
                    span.quality-high ВЫСОКОЕ
              p: b Качество версии по наведенным дефектам в целом:&nbsp;&nbsp;
                case result.inducedAsAWholeQuality
                  when 1
                    span.quality-low НИЗКОЕ
                  when 2
                    span.quality-low НИЖЕ СРЕДНЕГО
                  when 3
                    span.quality-medium СРЕДНЕЕ
                  when 4
                    span.quality-high ВЫШЕ СРЕДНЕГО
                  when 5
                    span.quality-high ВЫСОКОЕ
              p: b Качество версии по существующим ранее дефектам:&nbsp;&nbsp;
                case result.existingDefectsQuality
                  when 1
                    span.quality-low НИЗКОЕ
                  when 2
                    span.quality-low НИЖЕ СРЕДНЕГО
                  when 3
                    span.quality-medium СРЕДНЕЕ
                  when 4
                    span.quality-high ВЫШЕ СРЕДНЕГО
                  when 5
                    span.quality-high ВЫСОКОЕ
            div
              p: b Заведенные в версии дефекты
              table.table-data
                thead
                  tr
                    th
                    th.table-highlighted Заведено новых дефектов в версии #{result.input.version}
                    th.table-highlighted Исправлено дефектов, заведенных в версии #{result.input.version}
                    th.table-highlighted Снесено дефектов, заведенных в версии #{result.input.version}, на другие версии
                    th.table-highlighted Актуальных дефектов, заведенных в версии #{result.input.version}
                tbody
                  tr
                    td.table-highlighted Всего
                    td.centered-text
                      a(href=result.summary.defectsCreatedLink)= result.summary.defectsCreated
                    td.centered-text
                      a(href=result.summary.defectsFixedLink)= result.summary.defectsFixed
                    td.centered-text
                      a(href=result.summary.defectsPostponedLink)= result.summary.defectsPostponed
                    td.centered-text.table-highlighted
                      a(href=result.summary.defectsActualLink)= result.summary.defectsActual
                  tr
                    td.table-highlighted В том числе наведенных
                    td.centered-text
                      a(href=result.summary.indDefectsCreatedLink)= result.summary.indDefectsCreated
                    td.centered-text
                      a(href=result.summary.indDefectsFixedLink)= result.summary.indDefectsFixed
                    td.centered-text
                      a(href=result.summary.indDefectsPostponedLink)= result.summary.indDefectsPostponed
                    td.centered-text.table-highlighted
                      a(href=result.summary.indDefectsActualLink)= result.summary.indDefectsActual
            br
            div
              case result.defects_need_to_fix.length
                when 0
                  p: b Актуальных (требующих исправления) наведенных дефектов для версии нет
                default
                  p: b Актуальные (требующие исправления) наведенные дефекты для версии
                  table.table-data
                    thead
                      tr
                        th.table-highlighted Код
                        th.table-highlighted Тема
                        th.table-highlighted Проявляется в версиях
                        th.table-highlighted Наведенность
                        th.table-highlighted Приоритет
                        th.table-highlighted Статус
                    tbody
                      each issue in result.defects_need_to_fix.issues
                        tr
                          td.centered-text
                            a(href='https://jira.lanit.ru/browse/' + issue.key)= issue.key
                          td= issue.fields.summary
                          td
                            each version in issue.fields.versions
                              = version.name
                          td= issue.fields.customfield_16424.value
                          td
                            img(src=issue.fields.priority.iconUrl)
                            | &nbsp;#{issue.fields.priority.name}
                          td
                            img(src=issue.fields.status.iconUrl)
                            | &nbsp;#{issue.fields.status.name}